<h3> View Event Details</h3>
<div>
    <div>
        <label> <b> Id: </b></label> {{event.id}}
    </div>
    <div>
        <label> <b> First Name: </b></label> {{event.name}}
    </div>
    <div>
        <label> <b> Filters: </b></label> {{event.options}}
    </div>
    <div>
        <label> <b> Description: </b></label> {{event.description}}
    </div>
    <div>
        <label> <b> Start Date: </b></label> {{event.start_date}}
    </div>
    <div>
        <label> <b> End Date: </b></label> {{event.end_date}}
    </div>
    <div>
        <label> <b> Location: </b></label> {{event.location}}
    </div>
    <div>
        <label> <b> Category: </b></label> {{event.category}}
    </div>
    <div>
        <label> <b> Limitation: </b></label> {{event.attendee_limit}}
    </div>
    <div>
        <label> <b> Deadline: </b></label> {{event.registration_deadline}}
    </div>
    <div>
        <label> <b> Fee: </b></label> {{event.fee}}
    </div>
    <div>
        <label> <b> Organizer: </b></label> {{event.organizer}}
    </div>
    <div>
        <label> <b> Contact: </b></label> {{event.contact_person}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{event.contact_email}}
    </div>
    </div>